{% extends "hokage/templates/base.html" %}

<!-- Блок meta & seo -->
	{% block seometa}

	{% endblock %}

<!-- Заголовок страницы -->
	<title>{% block title %}Блог{% endblock %}</title>
<!-- Блок линков для раздела -->
	{% block headlink %}
	{% endblock %}

<!-- Блок для специальных ссылок и скриптов страницы -->
	{% block specialheadlink%}

	{% endblock %}
<!-- Основной контент страницы -->
	<!-- Превью -->
	{% block preview%}
	{% endblock %}
	
	<!-- Текст поста или основной контент-->
	{% block content%}

	{% endblock %} 
	<!-- медиа вложения к посту -->
	{% block media_investment %}

	{% endblock %}
	
	{%block interesting_posts %}
	{% endblock %}
